@charset "UTF-8";
@font-face {
  font-family: "Timos-Icons";
  src: url("fonts/Timos-Icons.eot?ed33x9");
  src: url("fonts/Timos-Icons.eot?ed33x9#iefix") format("embedded-opentype"), url("fonts/Timos-Icons.ttf?ed33x9") format("truetype"), url("fonts/Timos-Icons.woff?ed33x9") format("woff"), url("fonts/Timos-Icons.svg?ed33x9#Timos-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Timos-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-camera:before {
  content: "";
  opacity: 0.5;
}

.ti-camera:after {
  content: "";
  margin-left: -1em;
}

.ti-chart-donut:before {
  content: "";
  opacity: 0.5;
}

.ti-chart-donut:bafter {
  content: "";
  margin-left: -1em;
}

.ti-chart-pie:before {
  content: "";
}

.ti-chart-pie:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-chart-radial:before {
  content: "";
  opacity: 0.33;
}

.ti-chart-radial:bafter {
  content: "";
  margin-left: -1em;
}

.ti-computer:before {
  content: "";
  opacity: 0.5;
}

.ti-computer:bafter {
  content: "";
  margin-left: -1em;
}

.ti-github:before {
  content: "";
}

.ti-hockey-sticks:before {
  content: "";
}

.ti-hockey-sticks:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-modal:before {
  content: "";
  opacity: 0.33;
}

.ti-modalaftere {
  content: "";
  margin-left: -1em;
}

.ti-phone:before {
  content: "";
}

.ti-phoneaftere {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-spinner:before {
  content: "";
}

.ti-tabbar:before {
  content: "";
  opacity: 0.33;
}

.ti-tabbar:after {
  content: "";
  margin-left: -1em;
}

.ti-toggle:before {
  content: "";
}

.ti-toggle:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-windows:before {
  content: "";
}

.ti-windows:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-amspro:before {
  content: "";
  opacity: 0.5;
}

.ti-amspro:after {
  content: "";
  margin-left: -1em;
}

.ti-button:before {
  content: "";
  opacity: 0.33;
}

.ti-button:after {
  content: "";
  margin-left: -1em;
}

.ti-card:before {
  content: "";
}

.ti-card afterre {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-chart-bar:before {
  content: "";
  opacity: 0.33;
}

.ti-chart-bar:bafter {
  content: "";
  margin-left: -1em;
}

.ti-chart-empty:before {
  content: "";
}

.ti-chart-radar:before {
  content: "";
}

.ti-checkbox:before {
  content: "";
  opacity: 0.5;
}

.ti-checkbox:bafter {
  content: "";
  margin-left: -1em;
}

.ti-code:before {
  content: "";
}

.ti-component:before {
  content: "";
}

.ti-divider:before {
  content: "";
  opacity: 0.5;
}

.ti-divider:bafter {
  content: "";
  margin-left: -1em;
}

.ti-download:before {
  content: "";
  opacity: 0.5;
}

.ti-download:bafter {
  content: "";
  margin-left: -1em;
}

.ti-hockey-stick:before {
  content: "";
}

.ti-input:before {
  content: "";
}

.ti-inputaftere {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-painting:before {
  content: "";
}

.ti-painting:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-table:before {
  content: "";
  opacity: 0.1;
}

.ti-tableaftere {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-arrow-left:before {
  content: "";
}

.ti-arrow-up-right:before {
  content: "";
}

.ti-book:before {
  content: "";
  opacity: 0.33;
}

.ti-book afterre {
  content: "";
  margin-left: -1em;
}

.ti-book-p:before {
  content: "";
  opacity: 0.33;
}

.ti-book-p:after {
  content: "";
  margin-left: -1em;
}

.ti-book-q:before {
  content: "";
  opacity: 0.33;
}

.ti-book-q:after {
  content: "";
  margin-left: -1em;
}

.ti-chart-line:before {
  content: "";
  opacity: 0.5;
}

.ti-chart-line:bafter {
  content: "";
  margin-left: -1em;
}

.ti-checkmark:before {
  content: "";
}

.ti-double-arrow-down:before {
  content: "";
}

.ti-double-arrow-left:before {
  content: "";
}

.ti-double-arrow-right:before {
  content: "";
}

.ti-double-arrow-up:before {
  content: "";
}

.ti-scale:before {
  content: "";
}

.ti-scaleaftere {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-sidebar:before {
  content: "";
}

.ti-sidebar:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-todo:before {
  content: "";
}

.ti-user:before {
  content: "";
}

.ti-user-active:before {
  content: "";
}

.ti-user-active:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-user-inactive:before {
  content: "";
}

.ti-user-inactive:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-users:before {
  content: "";
}

.ti-usersaftere {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-arrow-down:before {
  content: "";
}

.ti-arrow-down-left:before {
  content: "";
}

.ti-arrow-down-right:before {
  content: "";
}

.ti-arrow-up:before {
  content: "";
}

.ti-arrow-up-left:before {
  content: "";
}

.ti-bucket:before {
  content: "";
}

.ti-bucket:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-dot:before {
  content: "";
}

.ti-dots:before {
  content: "";
}

.ti-farm:before {
  content: "";
}

.ti-farm afterre {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-list:before {
  content: "";
}

.ti-list afterre {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-list-check:before {
  content: "";
}

.ti-list-check:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-moped-license-plate:before {
  content: "";
}

.ti-offer:before {
  content: "";
}

.ti-scale-in:before {
  content: "";
  opacity: 0.5;
}

.ti-scale-in:bafter {
  content: "";
  margin-left: -1em;
}

.ti-scale-out:before {
  content: "";
  opacity: 0.5;
}

.ti-scale-out:bafter {
  content: "";
  margin-left: -1em;
}

.ti-arrow-right:before {
  content: "";
}

.ti-at:before {
  content: "";
}

.ti-circle:before {
  content: "";
}

.ti-cross:before {
  content: "";
}

.ti-hashtag:before {
  content: "";
}

.ti-lens:before {
  content: "";
  opacity: 0.5;
}

.ti-lens afterre {
  content: "";
  margin-left: -1em;
}

.ti-list-bullet:before {
  content: "";
}

.ti-list-bullet:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-login:before {
  content: "";
  opacity: 0.5;
}

.ti-loginaftere {
  content: "";
  margin-left: -1em;
}

.ti-logout:before {
  content: "";
  opacity: 0.5;
}

.ti-logout:after {
  content: "";
  margin-left: -1em;
}

.ti-pencil:before {
  content: "";
}

.ti-questionmark:before {
  content: "";
}

.ti-questionmark:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-reply:before {
  content: "";
}

.ti-server:before {
  content: "";
}

.ti-share:before {
  content: "";
  opacity: 0.5;
}

.ti-shareaftere {
  content: "";
  margin-left: -1em;
}

.ti-tools:before {
  content: "";
}

.ti-trashcan:before {
  content: "";
  opacity: 0.33;
}

.ti-trashcan:bafter {
  content: "";
  margin-left: -1em;
}

.ti-user-card:before {
  content: "";
  opacity: 0.5;
}

.ti-user-card:bafter {
  content: "";
  margin-left: -1em;
}

.ti-add:before {
  content: "";
  opacity: 0.5;
}

.ti-add afterore {
  content: "";
  margin-left: -1em;
}

.ti-checkmark-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-checkmark-circle:bafter {
  content: "";
  margin-left: -1em;
}

.ti-checkmarks:before {
  content: "";
}

.ti-checkmarks:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-cross-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-cross-circle:bafter {
  content: "";
  margin-left: -1em;
}

.ti-gears:before {
  content: "";
}

.ti-gearsaftere {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-heart:before {
  content: "";
}

.ti-house:before {
  content: "";
  opacity: 0.5;
}

.ti-houseaftere {
  content: "";
  margin-left: -1em;
}

.ti-i-circle:before {
  content: "";
}

.ti-i-circle:bafter {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-save:before {
  content: "";
  opacity: 0.5;
}

.ti-save afterre {
  content: "";
  margin-left: -1em;
}

.ti-stars:before {
  content: "";
}

.ti-starsaftere {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-thunder:before {
  content: "";
}
/*# sourceMappingURL=style.css.map */