$icomoon-font-family: "Timos-Icons" !default;
$icomoon-font-path: "fonts" !default;

$ti-microphone-muted-filled: "\e901";
$ti-microphone-filled: "\e90b";
$ti-microphone-muted-duo-path1: "\e956";
$ti-microphone-muted-duo-path2: "\e95b";
$ti-headphone-duo-path1: "\e98b";
$ti-headphone-duo-path2: "\e98d";
$ti-headphone-filled: "\e993";
$ti-microphone-duo-path1: "\e995";
$ti-microphone-duo-path2: "\e997";
$ti-volume-minus-duo-path1: "\e999";
$ti-volume-minus-duo-path2: "\e99b";
$ti-volume-minus-filled: "\e9cf";
$ti-volume-plus-duo-path1: "\e9dc";
$ti-volume-plus-duo-path2: "\ea22";
$ti-volume-plus-filled: "\ea30";
$ti-volume-3-filled: "\ea9e";
$ti-volume-cross-duo-path1: "\eaba";
$ti-volume-cross-duo-path2: "\ead6";
$ti-volume-cross-filled: "\eadf";
$ti-volume-off-duo-path1: "\ebd3";
$ti-volume-off-duo-path2: "\ebd4";
$ti-volume-off-filled: "\ebd5";
$ti-volume-1-filled: "\ebd6";
$ti-volume-2-duo-path1: "\ebd7";
$ti-volume-2-duo-path2: "\ebd8";
$ti-volume-2-filled: "\ebd9";
$ti-volume-3-duo-path1: "\ebda";
$ti-volume-3-duo-path2: "\ebdb";
$ti-volume-0-duo-path1: "\ebdc";
$ti-volume-0-duo-path2: "\ebdd";
$ti-volume-0-filled: "\ebde";
$ti-volume-1-duo-path1: "\ebdf";
$ti-volume-1-duo-path2: "\ebe0";
$ti-painting-filled: "\ebe1";
$ti-presents-duo-path1: "\ebe2";
$ti-presents-duo-path2: "\ebe3";
$ti-house-duo-path1: "\ebe4";
$ti-house-duo-path2: "\ebe5";
$ti-present-duo-path1: "\ebe6";
$ti-present-duo-path2: "\ebe7";
$ti-trashcan-duo-path1: "\ebe8";
$ti-trashcan-duo-path2: "\ebe9";
$ti-bank-duo-path1: "\ebea";
$ti-bank-duo-path2: "\ebeb";
$ti-bed-duo-path1: "\ebec";
$ti-bed-duo-path2: "\ebed";
$ti-farm-duo-path1: "\ebee";
$ti-farm-duo-path2: "\ebef";
$ti-painting-duo-path1: "\ebf0";
$ti-painting-duo-path2: "\ebf1";
$ti-warehouse-duo-path1: "\ebf2";
$ti-warehouse-duo-path2: "\ebf3";
$ti-football: "\e907";
$ti-shield-duo-path1: "\ebd0";
$ti-shield-duo-path2: "\ebd1";
$ti-tennis: "\ebd2";
$ti-bookmark-checkmark-duo-path1: "\e926";
$ti-bookmark-checkmark-duo-path2: "\ea69";
$ti-bookmark-cross: "\ea86";
$ti-bookmark-cross-duo-path1: "\ea93";
$ti-bookmark-cross-duo-path2: "\ea99";
$ti-bookmark-cross-filled: "\eaa3";
$ti-bookmark-checkmark: "\eaa5";
$ti-bookmark-checkmark-filled: "\eaa7";
$ti-bookmark-minus: "\ead3";
$ti-bookmark-minus-duo-path1: "\eaeb";
$ti-bookmark-minus-duo-path2: "\eb72";
$ti-bookmark-minus-filled: "\eb73";
$ti-bookmark-plus: "\eb74";
$ti-bookmark-plus-duo-path1: "\eb75";
$ti-bookmark-plus-duo-path2: "\eb76";
$ti-bookmark-plus-filled: "\eb77";
$ti-bookmark-star-duo-path1: "\eb78";
$ti-bookmark-star-duo-path2: "\eb79";
$ti-bookmark-duo-path1: "\eb7a";
$ti-bookmark-duo-path2: "\eb7b";
$ti-bookmark-filled: "\eb7c";
$ti-bookmark-heart: "\eb7d";
$ti-bookmark-heart-duo-path1: "\eb7e";
$ti-bookmark-heart-duo-path2: "\eb7f";
$ti-bookmark-heart-filled: "\eb80";
$ti-bookmarks-duo-path1: "\eb81";
$ti-bookmarks-duo-path2: "\eb82";
$ti-bookmark-star: "\eb83";
$ti-bookmark-star-filled: "\eb84";
$ti-bookmark: "\eb85";
$ti-bookmarks: "\eb86";
$ti-bookmarks-filled: "\eb87";
$ti-copyright-filled: "\eb88";
$ti-user-circle-duo-path1: "\eb89";
$ti-user-circle-duo-path2: "\eb8a";
$ti-user-circle-filled: "\eb8b";
$ti-tiles-four-duo-path1: "\eb8c";
$ti-tiles-four-duo-path2: "\eb8d";
$ti-tiles-minus-duo-path1: "\eb8e";
$ti-tiles-minus-duo-path2: "\eb8f";
$ti-tiles-minus-filled: "\eb90";
$ti-tiles-nine-duo-path1: "\eb91";
$ti-tiles-nine-duo-path2: "\eb92";
$ti-tiles-plus-duo-path1: "\eb93";
$ti-tiles-plus-duo-path2: "\eb94";
$ti-tiles-plus-filled: "\eb95";
$ti-tiles-sixteen-duo-path1: "\eb96";
$ti-tiles-sixteen-duo-path2: "\eb97";
$ti-tiles-four-filled: "\eb98";
$ti-tiles-nine-filled: "\eb99";
$ti-tiles-sixteen-filled: "\eb9a";
$ti-server-duo-path1: "\eb9b";
$ti-server-duo-path2: "\eb9c";
$ti-server-filled: "\eb9d";
$ti-terminal-duo-path1: "\eb9e";
$ti-terminal-duo-path2: "\eb9f";
$ti-terminal-filled: "\eba0";
$ti-user-shield-duo-path1: "\eba1";
$ti-user-shield-duo-path2: "\eba2";
$ti-user-shield-filled: "\eba3";
$ti-exclamation-triangle-duo-path1: "\eba4";
$ti-exclamation-triangle-duo-path2: "\eba5";
$ti-question-circle-duo-path1: "\eba6";
$ti-question-circle-duo-path2: "\eba7";
$ti-question-triangle-duo-path1: "\eba8";
$ti-question-triangle-duo-path2: "\eba9";
$ti-exclamation-circle-duo-path1: "\ebaa";
$ti-exclamation-circle-duo-path2: "\ebab";
$ti-i-circle-duo-path1: "\ebac";
$ti-i-circle-duo-path2: "\ebad";
$ti-book-cook-duo-path1: "\ebae";
$ti-book-cook-duo-path2: "\ebaf";
$ti-book-cook-filled: "\ebb0";
$ti-book-duo-path1: "\ebb1";
$ti-book-duo-path2: "\ebb2";
$ti-book-p-duo-path1: "\ebb3";
$ti-book-p-duo-path2: "\ebb4";
$ti-book-p-filled: "\ebb5";
$ti-book-q-duo-path1: "\ebb6";
$ti-book-q-duo-path2: "\ebb7";
$ti-book-filled: "\ebb8";
$ti-book-q-filled: "\ebb9";
$ti-share-duo-path1: "\ebba";
$ti-share-duo-path2: "\ebbb";
$ti-download-duo-path1: "\ebbc";
$ti-download-duo-path2: "\ebbd";
$ti-share-filled: "\ebbe";
$ti-download-filled: "\ebbf";
$ti-checkbox-duo-path1: "\ebc0";
$ti-checkbox-duo-path2: "\ebc1";
$ti-toggle-duo-path1: "\ebc2";
$ti-toggle-duo-path2: "\ebc3";
$ti-toggle-filled: "\ebc4";
$ti-checkbox-filled: "\ebc5";
$ti-shield-checkmark-duo-path1: "\ebc6";
$ti-shield-checkmark-duo-path2: "\ebc7";
$ti-shield-cross-duo-path1: "\ebc8";
$ti-shield-cross-duo-path2: "\ebc9";
$ti-shield-star-duo-path1: "\ebca";
$ti-shield-star-duo-path2: "\ebcb";
$ti-shield-star-filled: "\ebcc";
$ti-shield-checkmark-filled: "\ebcd";
$ti-shield-cross-filled: "\ebce";
$ti-shield-filled: "\ebcf";
$ti-exclamation-circle-filled: "\e931";
$ti-exclamation-triangle-filled: "\e99c";
$ti-i-circle-filled: "\eaaf";
$ti-question-circle-filled: "\eab1";
$ti-question-triangle-filled: "\eab3";
$ti-checkmark-circle-duo-path1: "\eb0c";
$ti-checkmark-circle-duo-path2: "\eb0e";
$ti-checkmark-circle-filled: "\eb38";
$ti-cross-circle-duo-path1: "\eb39";
$ti-cross-circle-duo-path2: "\eb3a";
$ti-cross-circle-filled: "\eb3b";
$ti-user-active-filled: "\eb3c";
$ti-user-inactive-filled-1-path1: "\eb3d";
$ti-user-inactive-filled-1-path2: "\eb3e";
$ti-user-minus-duo-path1: "\eb3f";
$ti-user-minus-duo-path2: "\eb40";
$ti-user-minus-filled: "\eb41";
$ti-user-plus-duo-path1: "\eb42";
$ti-user-plus-duo-path2: "\eb43";
$ti-user-plus-filled: "\eb44";
$ti-users-duo-path1: "\eb45";
$ti-users-duo-path2: "\eb46";
$ti-users-filled: "\eb47";
$ti-user-duo-path1: "\eb48";
$ti-user-duo-path2: "\eb49";
$ti-user-filled: "\eb4a";
$ti-user-inactive-duo-path1: "\eb4b";
$ti-user-inactive-duo-path2: "\eb4c";
$ti-user-inactive-filled: "\eb4d";
$ti-file-minus-duo-path1: "\eb4e";
$ti-file-minus-duo-path2: "\eb4f";
$ti-file-check-duo-path1: "\eb50";
$ti-file-check-duo-path2: "\eb51";
$ti-file-download-duo-path1: "\eb52";
$ti-file-download-duo-path2: "\eb53";
$ti-file-pdf-duo-path1: "\eb54";
$ti-file-pdf-duo-path2: "\eb55";
$ti-file-person-duo-path1: "\eb56";
$ti-file-person-duo-path2: "\eb57";
$ti-file-plus-duo-path1: "\eb58";
$ti-file-plus-duo-path2: "\eb59";
$ti-file-powerpoint-duo-path1: "\eb5a";
$ti-file-powerpoint-duo-path2: "\eb5b";
$ti-file-upload-duo-path1: "\eb5c";
$ti-file-upload-duo-path2: "\eb5d";
$ti-file-excel-duo-path1: "\eb5e";
$ti-file-excel-duo-path2: "\eb5f";
$ti-file-medical-duo-path1: "\eb60";
$ti-file-medical-duo-path2: "\eb61";
$ti-file-word-duo-path1: "\eb62";
$ti-file-word-duo-path2: "\eb63";
$ti-file-zip-duo-path1: "\eb64";
$ti-file-zip-duo-path2: "\eb65";
$ti-file-binary-duo-path1: "\eb66";
$ti-file-binary-duo-path2: "\eb67";
$ti-file-code-duo-path1: "\eb68";
$ti-file-code-duo-path2: "\eb69";
$ti-file-image-duo-path1: "\eb6a";
$ti-file-image-duo-path2: "\eb6b";
$ti-file-audio-duo-path1: "\eb6c";
$ti-file-audio-duo-path2: "\eb6d";
$ti-file-csv-duo-path1: "\eb6e";
$ti-file-csv-duo-path2: "\eb6f";
$ti-file-text-duo-path1: "\eb70";
$ti-file-text-duo-path2: "\eb71";
$ti-badge-8k-filled: "\e93f";
$ti-badge-cc: "\e941";
$ti-badge-cc-filled: "\e943";
$ti-badge-tm: "\e945";
$ti-badge-tm-filled: "\e947";
$ti-back: "\e949";
$ti-badge-4k: "\e94b";
$ti-badge-4k-filled: "\e94d";
$ti-badge-8k: "\e94f";
$ti-badge-hd: "\e951";
$ti-badge-hd-filled: "\e953";
$ti-bed: "\e955";
$ti-loyalty: "\e957";
$ti-bank: "\e959";
$ti-bell-path1: "\e95d";
$ti-bell-path2: "\eb17";
$ti-bell-exclamation-path1: "\eb18";
$ti-bell-exclamation-path2: "\eb19";
$ti-bell-ring-path1: "\eb1a";
$ti-bell-ring-path2: "\eb1b";
$ti-bell-slash-path1: "\eb1c";
$ti-bell-slash-path2: "\eb1d";
$ti-shield-security-path1: "\eb1e";
$ti-shield-security-path2: "\eb1f";
$ti-file-minus: "\eb20";
$ti-file-minus-filled: "\eb21";
$ti-file-check: "\eb22";
$ti-file-check-filled: "\eb23";
$ti-file-pdf-filled: "\eb24";
$ti-file-person: "\eb25";
$ti-file-person-filled: "\eb26";
$ti-file-plus: "\eb27";
$ti-file-plus-filled: "\eb28";
$ti-file-download-filled: "\eb29";
$ti-file-excel-filled: "\eb2a";
$ti-file-powerpoint-filled: "\eb2b";
$ti-file-upload-filled: "\eb2c";
$ti-file-word-filled: "\eb2d";
$ti-file-binary-filled: "\eb2e";
$ti-file-code-filled: "\eb2f";
$ti-file-image-filled: "\eb30";
$ti-file-medical: "\eb31";
$ti-file-medical-filled: "\eb32";
$ti-file-zip-filled: "\eb33";
$ti-file-audio-filled: "\eb34";
$ti-file-csv-filled: "\eb35";
$ti-file-filled: "\eb36";
$ti-file-text-filled: "\eb37";
$ti-fullscreen: "\eaf2";
$ti-fullscreen-exit: "\eaf3";
$ti-bug-path1: "\eaf4";
$ti-bug-path2: "\eaf5";
$ti-chat-bubble-typing: "\eaf6";
$ti-copyright: "\eaf7";
$ti-database-minus-path1: "\eaf8";
$ti-database-minus-path2: "\eaf9";
$ti-flag-path1: "\eafa";
$ti-flag-path2: "\eafb";
$ti-italic: "\eafc";
$ti-shield-star: "\eafd";
$ti-spy-path1: "\eafe";
$ti-spy-path2: "\eaff";
$ti-underline: "\eb00";
$ti-bold: "\eb01";
$ti-database-checkmark-path1: "\eb02";
$ti-database-checkmark-path2: "\eb03";
$ti-database-download-path1: "\eb04";
$ti-database-download-path2: "\eb05";
$ti-database-plus-path1: "\eb06";
$ti-database-plus-path2: "\eb07";
$ti-database-upload-path1: "\eb08";
$ti-database-upload-path2: "\eb09";
$ti-link-alt: "\eb0a";
$ti-user-minus: "\eb0b";
$ti-user-plus: "\eb0d";
$ti-award-path1: "\eb0f";
$ti-award-path2: "\eb10";
$ti-phone-call-path1: "\eb11";
$ti-phone-call-path2: "\eb12";
$ti-phone-missed-path1: "\eb13";
$ti-phone-missed-path2: "\eb14";
$ti-phone-off-path1: "\eb15";
$ti-phone-off-path2: "\eb16";
$ti-crop: "\eaec";
$ti-dots-vertical: "\eaed";
$ti-location-arrow: "\eaee";
$ti-map-pin: "\eaef";
$ti-pin-checkmark: "\eaf0";
$ti-terminal: "\eaf1";
$ti-apple-alt-path1: "\eae8";
$ti-apple-alt-path2: "\eae9";
$ti-book-cook: "\eaea";
$ti-trophy: "\eae7";
$ti-food-bowl-path1: "\eae5";
$ti-food-bowl-path2: "\eae6";
$ti-warehouse: "\e900";
$ti-watch-path1: "\e902";
$ti-watch-path2: "\e903";
$ti-bluetooth: "\e904";
$ti-gym: "\e905";
$ti-hockey-puck: "\e906";
$ti-timos-translator-path1: "\e908";
$ti-timos-translator-path2: "\e909";
$ti-presents: "\e90a";
$ti-books-path1: "\e90c";
$ti-books-path2: "\e90d";
$ti-align-center: "\e90e";
$ti-align-justify: "\e90f";
$ti-align-left: "\e910";
$ti-align-right: "\e911";
$ti-bucket: "\e912";
$ti-chart-radar-path1: "\e913";
$ti-chart-radar-path2: "\e914";
$ti-checkmark: "\e915";
$ti-checkmarks-path1: "\e916";
$ti-checkmarks-path2: "\e917";
$ti-moon: "\e918";
$ti-scale: "\e919";
$ti-shield-checkmark: "\e91a";
$ti-sidebar-alt-path1: "\e91b";
$ti-sidebar-alt-path2: "\e91c";
$ti-arrow-down-alt: "\e91d";
$ti-arrow-left-alt: "\e91e";
$ti-arrow-right-alt: "\e91f";
$ti-arrow-up-alt: "\e920";
$ti-lightbulb-path1: "\e921";
$ti-lightbulb-path2: "\e922";
$ti-shield: "\e923";
$ti-shield-cross: "\e924";
$ti-user-shield: "\e925";
$ti-arrows-h: "\e927";
$ti-arrows-v: "\e928";
$ti-codepen: "\e929";
$ti-copy-path1: "\e92a";
$ti-copy-path2: "\e92b";
$ti-ghost: "\e92c";
$ti-header-alt-path1: "\e92d";
$ti-header-alt-path2: "\e92e";
$ti-arrows-move: "\e92f";
$ti-blocked: "\e930";
$ti-rss: "\e932";
$ti-spinner-alt: "\e933";
$ti-qr-code: "\e934";
$ti-folder-cloud: "\e935";
$ti-folder-shared: "\e936";
$ti-folder: "\e937";
$ti-folder-minus: "\e938";
$ti-folder-open: "\e939";
$ti-folder-plus: "\e93a";
$ti-folder-upload: "\e93b";
$ti-gastro-assistant: "\e93c";
$ti-powershell: "\e93d";
$ti-files: "\e93e";
$ti-file-zip: "\e940";
$ti-file-binary: "\e942";
$ti-file-code: "\e944";
$ti-file-csv: "\e946";
$ti-file-download: "\e948";
$ti-file-image: "\e94a";
$ti-file-pdf: "\e94c";
$ti-file-powerpoint: "\e94e";
$ti-file-upload: "\e950";
$ti-file: "\e952";
$ti-file-audio: "\e954";
$ti-file-excel: "\e958";
$ti-file-text: "\e95a";
$ti-file-word: "\e95c";
$ti-tccomponents-tc: "\e95e";
$ti-behance: "\e95f";
$ti-javascript: "\e960";
$ti-tccomponents-path1: "\e961";
$ti-tccomponents-path2: "\e962";
$ti-youtube: "\e963";
$ti-amazon: "\e964";
$ti-amazon-a: "\e965";
$ti-digital-ocean: "\e966";
$ti-git: "\e967";
$ti-instagram: "\e968";
$ti-telegram: "\e969";
$ti-timos-accounts-path1: "\e96a";
$ti-timos-accounts-path2: "\e96b";
$ti-timos-icons: "\e96c";
$ti-typescript: "\e96d";
$ti-adobe: "\e96e";
$ti-discord: "\e96f";
$ti-facebook: "\e970";
$ti-facebook-f: "\e971";
$ti-origin: "\e972";
$ti-twitch: "\e973";
$ti-twitter: "\e974";
$ti-whatsapp: "\e975";
$ti-google: "\e976";
$ti-steam: "\e977";
$ti-sort-alphabetical-ascending-path1: "\e978";
$ti-sort-alphabetical-ascending-path2: "\e979";
$ti-sort-alphabetical-descending-path1: "\e97a";
$ti-sort-alphabetical-descending-path2: "\e97b";
$ti-sort-numeric-ascending-path1: "\e97c";
$ti-sort-numeric-ascending-path2: "\e97d";
$ti-sort-numeric-descending-path1: "\e97e";
$ti-sort-numeric-descending-path2: "\e97f";
$ti-tiles-minus: "\e980";
$ti-tiles-plus: "\e981";
$ti-sort-alphabetical-path1: "\e982";
$ti-sort-alphabetical-path2: "\e983";
$ti-sort-numeric-path1: "\e984";
$ti-sort-numeric-path2: "\e985";
$ti-tiles-four: "\e986";
$ti-tiles-nine: "\e987";
$ti-tiles-sixteen: "\e988";
$ti-volume-0: "\e989";
$ti-volume-cross: "\e98a";
$ti-volume-off: "\e98c";
$ti-eye-path1: "\e98e";
$ti-eye-path2: "\e98f";
$ti-eye-slash-path1: "\e990";
$ti-eye-slash-path2: "\e991";
$ti-volume-1: "\e992";
$ti-volume-2: "\e994";
$ti-volume-3: "\e996";
$ti-volume-minus: "\e998";
$ti-volume-plus: "\e99a";
$ti-biohazard: "\e99d";
$ti-cloud-fog-path1: "\e99e";
$ti-cloud-fog-path2: "\e99f";
$ti-cloud-moon-rain-path1: "\e9a0";
$ti-cloud-moon-rain-path2: "\e9a1";
$ti-cloud-snow-rain-path1: "\e9a2";
$ti-cloud-snow-rain-path2: "\e9a3";
$ti-cloud-sun-rain-path1: "\e9a4";
$ti-cloud-sun-rain-path2: "\e9a5";
$ti-database: "\e9a6";
$ti-cloud-moon-path1: "\e9a7";
$ti-cloud-moon-path2: "\e9a8";
$ti-cloud-rain-path1: "\e9a9";
$ti-cloud-rain-path2: "\e9aa";
$ti-cloud-snow-path1: "\e9ab";
$ti-cloud-snow-path2: "\e9ac";
$ti-cloud-sun-path1: "\e9ad";
$ti-cloud-sun-path2: "\e9ae";
$ti-cloud-thunder-path1: "\e9af";
$ti-cloud-thunder-path2: "\e9b0";
$ti-cloud-thunder-rain-path1: "\e9b1";
$ti-cloud-thunder-rain-path2: "\e9b2";
$ti-map-marker-path1: "\e9b3";
$ti-map-marker-path2: "\e9b4";
$ti-snowflake: "\e9b5";
$ti-star-add-path1: "\e9b6";
$ti-star-add-path2: "\e9b7";
$ti-calendar-alt-path1: "\e9b8";
$ti-calendar-alt-path2: "\e9b9";
$ti-image-path1: "\e9ba";
$ti-image-path2: "\e9bb";
$ti-mail: "\e9bc";
$ti-mail-unread-path1: "\e9bd";
$ti-mail-unread-path2: "\e9be";
$ti-music: "\e9bf";
$ti-notification-disabled-path1: "\e9c0";
$ti-notification-disabled-path2: "\e9c1";
$ti-wrench: "\e9c2";
$ti-anchor: "\e9c3";
$ti-calendar-path1: "\e9c4";
$ti-calendar-path2: "\e9c5";
$ti-map: "\e9c6";
$ti-microscope-path1: "\e9c7";
$ti-microscope-path2: "\e9c8";
$ti-notification-path1: "\e9c9";
$ti-notification-path2: "\e9ca";
$ti-phone-alt: "\e9cb";
$ti-photos-path1: "\e9cc";
$ti-photos-path2: "\e9cd";
$ti-present: "\e9ce";
$ti-settings-path1: "\e9d0";
$ti-settings-path2: "\e9d1";
$ti-ticket-path1: "\e9d2";
$ti-ticket-path2: "\e9d3";
$ti-umbrella: "\e9d4";
$ti-attachment: "\e9d5";
$ti-chat-bubble: "\e9d6";
$ti-chat-bubbles-path1: "\e9d7";
$ti-chat-bubbles-path2: "\e9d8";
$ti-cloud-upload: "\e9d9";
$ti-hard-drive: "\e9da";
$ti-microphone-muted: "\e9db";
$ti-movie: "\e9dd";
$ti-newspaper-path1: "\e9de";
$ti-newspaper-path2: "\e9df";
$ti-trashcan-alt: "\e9e0";
$ti-upload-path1: "\e9e1";
$ti-upload-path2: "\e9e2";
$ti-cloud: "\e9e3";
$ti-cloud-download: "\e9e4";
$ti-link: "\e9e5";
$ti-power: "\e9e6";
$ti-printer: "\e9e7";
$ti-login-path1: "\e9e8";
$ti-login-path2: "\e9e9";
$ti-logout-path1: "\e9ea";
$ti-logout-path2: "\e9eb";
$ti-crosshair-path1: "\e9ec";
$ti-crosshair-path2: "\e9ed";
$ti-question-triangle: "\e9ee";
$ti-checkmark-circle: "\e9ef";
$ti-chevron-down: "\e9f0";
$ti-chevron-left: "\e9f1";
$ti-chevron-up: "\e9f2";
$ti-cross-circle: "\e9f3";
$ti-double-chevron-down: "\e9f4";
$ti-double-chevron-left: "\e9f5";
$ti-double-chevron-right: "\e9f6";
$ti-double-chevron-up: "\e9f7";
$ti-exclamation-circle: "\e9f8";
$ti-exclamation-triangle: "\e9f9";
$ti-i-circle: "\e9fa";
$ti-question-circle: "\e9fb";
$ti-arrow-return: "\e9fc";
$ti-calculator: "\e9fd";
$ti-chevron-right: "\e9fe";
$ti-cocktail: "\e9ff";
$ti-color-fan: "\ea00";
$ti-fast-backward: "\ea01";
$ti-filter: "\ea02";
$ti-flashlight-path1: "\ea03";
$ti-flashlight-path2: "\ea04";
$ti-numpad: "\ea05";
$ti-star: "\ea06";
$ti-arrow-down: "\ea07";
$ti-arrow-left: "\ea08";
$ti-arrow-right: "\ea09";
$ti-arrow-up: "\ea0a";
$ti-fast-forward: "\ea0b";
$ti-list-add-path1: "\ea0c";
$ti-list-add-path2: "\ea0d";
$ti-pause: "\ea0e";
$ti-play: "\ea0f";
$ti-step-backwards: "\ea10";
$ti-step-forward: "\ea11";
$ti-stop: "\ea12";
$ti-wifi-0-path1: "\ea13";
$ti-wifi-0-path2: "\ea14";
$ti-chart-stocks-path1: "\ea15";
$ti-chart-stocks-path2: "\ea16";
$ti-clock-simple-path1: "\ea17";
$ti-clock-simple-path2: "\ea18";
$ti-credit-card-path1: "\ea19";
$ti-credit-card-path2: "\ea1a";
$ti-dollar: "\ea1b";
$ti-globe: "\ea1c";
$ti-vehicle-front: "\ea1d";
$ti-pin-person: "\ea1e";
$ti-band-aid: "\ea1f";
$ti-female: "\ea20";
$ti-headphone: "\ea21";
$ti-headset-path1: "\ea23";
$ti-headset-path2: "\ea24";
$ti-heartbeat: "\ea25";
$ti-heart-broken: "\ea26";
$ti-pin: "\ea27";
$ti-apple: "\ea28";
$ti-exchange-path1: "\ea29";
$ti-exchange-path2: "\ea2a";
$ti-exclamation-path1: "\ea2b";
$ti-exclamation-path2: "\ea2c";
$ti-heart-empty: "\ea2d";
$ti-male: "\ea2e";
$ti-microphone: "\ea2f";
$ti-minecraft: "\ea31";
$ti-tesla: "\ea32";
$ti-thermometer-three-quarter-path1: "\ea33";
$ti-thermometer-three-quarter-path2: "\ea34";
$ti-barometer-path1: "\ea35";
$ti-barometer-path2: "\ea36";
$ti-thermometer-empty-path1: "\ea37";
$ti-thermometer-empty-path2: "\ea38";
$ti-thermometer-full-path1: "\ea39";
$ti-thermometer-full-path2: "\ea3a";
$ti-thermometer-half-path1: "\ea3b";
$ti-thermometer-half-path2: "\ea3c";
$ti-thermometer-quarter-path1: "\ea3d";
$ti-thermometer-quarter-path2: "\ea3e";
$ti-key-path1: "\ea3f";
$ti-key-path2: "\ea40";
$ti-lock-closed-path1: "\ea41";
$ti-lock-closed-path2: "\ea42";
$ti-lock-opened-path1: "\ea43";
$ti-lock-opened-path2: "\ea44";
$ti-alarm-path1: "\ea45";
$ti-alarm-path2: "\ea46";
$ti-minus: "\ea47";
$ti-plus: "\ea48";
$ti-segment-path1: "\ea49";
$ti-segment-path2: "\ea4a";
$ti-slider-path1: "\ea4b";
$ti-slider-path2: "\ea4c";
$ti-tooltip: "\ea4d";
$ti-dice-4-path1: "\ea4e";
$ti-dice-4-path2: "\ea4f";
$ti-dice-5-path1: "\ea50";
$ti-dice-5-path2: "\ea51";
$ti-bar: "\ea52";
$ti-bar-progress-path1: "\ea53";
$ti-bar-progress-path2: "\ea54";
$ti-dice-1-path1: "\ea55";
$ti-dice-1-path2: "\ea56";
$ti-dice-2-path1: "\ea57";
$ti-dice-2-path2: "\ea58";
$ti-dice-3-path1: "\ea59";
$ti-dice-3-path2: "\ea5a";
$ti-dice-6-path1: "\ea5b";
$ti-dice-6-path2: "\ea5c";
$ti-peace-path1: "\ea5d";
$ti-peace-path2: "\ea5e";
$ti-phone-path1: "\ea5f";
$ti-phone-path2: "\ea60";
$ti-quote-left-path1: "\ea61";
$ti-quote-left-path2: "\ea62";
$ti-repeat: "\ea63";
$ti-sun-path1: "\ea64";
$ti-sun-path2: "\ea65";
$ti-swap-path1: "\ea66";
$ti-swap-path2: "\ea67";
$ti-user-circle: "\ea68";
$ti-wifi-1-path1: "\ea6a";
$ti-wifi-1-path2: "\ea6b";
$ti-wifi-2-path1: "\ea6c";
$ti-wifi-2-path2: "\ea6d";
$ti-wifi-3: "\ea6e";
$ti-camera-path1: "\ea6f";
$ti-camera-path2: "\ea70";
$ti-chart-donut-path1: "\ea71";
$ti-chart-donut-path2: "\ea72";
$ti-percentage-path1: "\ea73";
$ti-percentage-path2: "\ea74";
$ti-quote-right-path1: "\ea75";
$ti-quote-right-path2: "\ea76";
$ti-chart-pie-path1: "\ea77";
$ti-chart-pie-path2: "\ea78";
$ti-chart-radial-path1: "\ea79";
$ti-chart-radial-path2: "\ea7a";
$ti-computer-path1: "\ea7b";
$ti-computer-path2: "\ea7c";
$ti-github: "\ea7d";
$ti-hockey-sticks-path1: "\ea7e";
$ti-hockey-sticks-path2: "\ea7f";
$ti-modal-path1: "\ea80";
$ti-modal-path2: "\ea81";
$ti-spinner: "\ea82";
$ti-tabbar-path1: "\ea83";
$ti-tabbar-path2: "\ea84";
$ti-toggle: "\ea85";
$ti-windows-path1: "\ea87";
$ti-windows-path2: "\ea88";
$ti-amspro-path1: "\ea89";
$ti-amspro-path2: "\ea8a";
$ti-button-path1: "\ea8b";
$ti-button-path2: "\ea8c";
$ti-card-path1: "\ea8d";
$ti-card-path2: "\ea8e";
$ti-chart-bar-path1: "\ea8f";
$ti-chart-bar-path2: "\ea90";
$ti-chart-empty: "\ea91";
$ti-checkbox: "\ea92";
$ti-code: "\ea94";
$ti-component: "\ea95";
$ti-divider-path1: "\ea96";
$ti-divider-path2: "\ea97";
$ti-download: "\ea98";
$ti-hockey-stick: "\ea9a";
$ti-input-path1: "\ea9b";
$ti-input-path2: "\ea9c";
$ti-painting: "\ea9d";
$ti-table-path1: "\ea9f";
$ti-table-path2: "\eaa0";
$ti-arrow-up-right: "\eaa1";
$ti-book: "\eaa2";
$ti-book-p: "\eaa4";
$ti-book-q: "\eaa6";
$ti-chart-line-path1: "\eaa8";
$ti-chart-line-path2: "\eaa9";
$ti-sidebar-path1: "\eaaa";
$ti-sidebar-path2: "\eaab";
$ti-todo: "\eaac";
$ti-user: "\eaad";
$ti-user-active: "\eaae";
$ti-user-inactive: "\eab0";
$ti-users: "\eab2";
$ti-arrow-down-left: "\eab4";
$ti-arrow-down-right: "\eab5";
$ti-arrow-up-left: "\eab6";
$ti-dot: "\eab7";
$ti-dots: "\eab8";
$ti-farm: "\eab9";
$ti-list-path1: "\eabb";
$ti-list-path2: "\eabc";
$ti-list-check-path1: "\eabd";
$ti-list-check-path2: "\eabe";
$ti-moped-license-plate: "\eabf";
$ti-offer: "\eac0";
$ti-scale-in-path1: "\eac1";
$ti-scale-in-path2: "\eac2";
$ti-scale-out-path1: "\eac3";
$ti-scale-out-path2: "\eac4";
$ti-at: "\eac5";
$ti-circle: "\eac6";
$ti-cross: "\eac7";
$ti-hashtag: "\eac8";
$ti-lens-path1: "\eac9";
$ti-lens-path2: "\eaca";
$ti-list-bullet-path1: "\eacb";
$ti-list-bullet-path2: "\eacc";
$ti-pencil: "\eacd";
$ti-questionmark-path1: "\eace";
$ti-questionmark-path2: "\eacf";
$ti-reply: "\ead0";
$ti-server: "\ead1";
$ti-share: "\ead2";
$ti-tools: "\ead4";
$ti-trashcan: "\ead5";
$ti-user-card-path1: "\ead7";
$ti-user-card-path2: "\ead8";
$ti-add-path1: "\ead9";
$ti-add-path2: "\eada";
$ti-gears-path1: "\eadb";
$ti-gears-path2: "\eadc";
$ti-heart: "\eadd";
$ti-house: "\eade";
$ti-save-path1: "\eae0";
$ti-save-path2: "\eae1";
$ti-stars-path1: "\eae2";
$ti-stars-path2: "\eae3";
$ti-thunder: "\eae4";

