@charset "UTF-8";
@font-face {
  font-family: "Timos-Icons";
  src: url("fonts/Timos-Icons.eot?dnujhh");
  src: url("fonts/Timos-Icons.eot?dnujhh#iefix") format("embedded-opentype"), url("fonts/Timos-Icons.ttf?dnujhh") format("truetype"), url("fonts/Timos-Icons.woff?dnujhh") format("woff"), url("fonts/Timos-Icons.svg?dnujhh#Timos-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Timos-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-pin-person:before {
  content: "";
}

.ti-band-aid:before {
  content: "";
}

.ti-female:before {
  content: "";
}

.ti-headphone:before {
  content: "";
}

.ti-headphone:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-headset:before {
  content: "";
}

.ti-headset:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-heartbeat:before {
  content: "";
}

.ti-heart-broken:before {
  content: "";
}

.ti-pin:before {
  content: "";
}

.ti-apple:before {
  content: "";
}

.ti-exchange:before {
  content: "";
}

.ti-exchange:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-exclamation:before {
  content: "";
  opacity: 0.5;
}

.ti-exclamation:after {
  content: "";
  margin-left: -1em;
}

.ti-exclamation-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-exclamation-circle:after {
  content: "";
  margin-left: -1em;
}

.ti-exclamation-triangle:before {
  content: "";
  opacity: 0.33;
}

.ti-exclamation-triangle:after {
  content: "";
  margin-left: -1em;
}

.ti-heart-empty:before {
  content: "";
}

.ti-male:before {
  content: "";
}

.ti-microphone:before {
  content: "";
}

.ti-microphone:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-minecraft:before {
  content: "";
}

.ti-question-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-question-circle:after {
  content: "";
  margin-left: -1em;
}

.ti-question-triangle:before {
  content: "";
  opacity: 0.33;
}

.ti-question-triangle:after {
  content: "";
  margin-left: -1em;
}

.ti-tesla:before {
  content: "";
}

.ti-thermometer-three-quarter:before {
  content: "";
}

.ti-thermometer-three-quarter:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-barometer:before {
  content: "";
}

.ti-barometer:after {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-thermometer-empty:before {
  content: "";
}

.ti-thermometer-empty:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-thermometer-full:before {
  content: "";
}

.ti-thermometer-full:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-thermometer-half:before {
  content: "";
}

.ti-thermometer-half:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-thermometer-quarter:before {
  content: "";
}

.ti-thermometer-quarter:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-key:before {
  content: "";
}

.ti-key:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-lock-closed:before {
  content: "";
}

.ti-lock-closed:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-lock-opened:before {
  content: "";
}

.ti-lock-opened:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-alarm:before {
  content: "";
  opacity: 0.5;
}

.ti-alarm:after {
  content: "";
  margin-left: -1em;
}

.ti-minus:before {
  content: "";
}

.ti-plus:before {
  content: "";
}

.ti-segment:before {
  content: "";
}

.ti-segment:after {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-slider:before {
  content: "";
  opacity: 0.33;
}

.ti-slider:after {
  content: "";
  margin-left: -1em;
}

.ti-tooltip:before {
  content: "";
}

.ti-dice-4:before {
  content: "";
}

.ti-dice-4:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-dice-5:before {
  content: "";
}

.ti-dice-5:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-bar:before {
  content: "";
}

.ti-bar-progress:before {
  content: "";
  opacity: 0.33;
}

.ti-bar-progress:after {
  content: "";
  margin-left: -1em;
}

.ti-crosshair:before {
  content: "";
}

.ti-dice-1:before {
  content: "";
}

.ti-dice-1:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-dice-2:before {
  content: "";
}

.ti-dice-2:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-dice-3:before {
  content: "";
}

.ti-dice-3:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-dice-6:before {
  content: "";
}

.ti-dice-6:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-moon:before {
  content: "";
}

.ti-peace:before {
  content: "";
  opacity: 0.5;
}

.ti-peace:after {
  content: "";
  margin-left: -1em;
}

.ti-quote-left:before {
  content: "";
  opacity: 0.5;
}

.ti-quote-left:after {
  content: "";
  margin-left: -1em;
}

.ti-repeat:before {
  content: "";
}

.ti-sun:before {
  content: "";
}

.ti-sun:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-swap:before {
  content: "";
  opacity: 0.5;
}

.ti-swap:after {
  content: "";
  margin-left: -1em;
}

.ti-user-circle:before {
  content: "";
  opacity: 0.5;
}

.ti-user-circle:after {
  content: "";
  margin-left: -1em;
}

.ti-wifi-1:before {
  content: "";
  opacity: 0.5;
}

.ti-wifi-1:after {
  content: "";
  margin-left: -1em;
}

.ti-wifi-2:before {
  content: "";
  opacity: 0.5;
}

.ti-wifi-2:after {
  content: "";
  margin-left: -1em;
}

.ti-wifi-3:before {
  content: "";
}

.ti-percentage:before {
  content: "";
  opacity: 0.5;
}

.ti-percentage:after {
  content: "";
  margin-left: -1em;
}

.ti-quote-right:before {
  content: "";
  opacity: 0.5;
}

.ti-quote-right:after {
  content: "";
  margin-left: -1em;
}

.ti-camera:before {
  content: "";
  opacity: 0.5;
}

.ti-camera:after {
  content: "";
  margin-left: -1em;
}

.ti-chart-donut:before {
  content: "";
  opacity: 0.5;
}

.ti-chart-donut:after {
  content: "";
  margin-left: -1em;
}

.ti-chart-pie:before {
  content: "";
}

.ti-chart-pie:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-chart-radial:before {
  content: "";
  opacity: 0.33;
}

.ti-chart-radial:after {
  content: "";
  margin-left: -1em;
}

.ti-computer:before {
  content: "";
  opacity: 0.5;
}

.ti-computer:after {
  content: "";
  margin-left: -1em;
}

.ti-github:before {
  content: "";
}

.ti-hockey-sticks:before {
  content: "";
}

.ti-hockey-sticks:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-modal:before {
  content: "";
  opacity: 0.33;
}

.ti-modal:after {
  content: "";
  margin-left: -1em;
}

.ti-phone:before {
  content: "";
}

.ti-phone:after {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-spinner:before {
  content: "";
}

.ti-tabbar:before {
  content: "";
  opacity: 0.33;
}

.ti-tabbar:after {
  content: "";
  margin-left: -1em;
}

.ti-toggle:before {
  content: "";
}

.ti-toggle:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-windows:before {
  content: "";
}

.ti-windows:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-amspro:before {
  content: "";
  opacity: 0.5;
}

.ti-amspro:after {
  content: "";
  margin-left: -1em;
}

.ti-button:before {
  content: "";
  opacity: 0.33;
}

.ti-button:after {
  content: "";
  margin-left: -1em;
}

.ti-card:before {
  content: "";
}

.ti-card:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-chart-bar:before {
  content: "";
  opacity: 0.33;
}

.ti-chart-bar:after {
  content: "";
  margin-left: -1em;
}

.ti-chart-empty:before {
  content: "";
}

.ti-chart-radar:before {
  content: "";
}

.ti-checkbox:before {
  content: "";
  opacity: 0.5;
}

.ti-checkbox:after {
  content: "";
  margin-left: -1em;
}

.ti-code:before {
  content: "";
}

.ti-component:before {
  content: "";
}

.ti-divider:before {
  content: "";
  opacity: 0.5;
}

.ti-divider:after {
  content: "";
  margin-left: -1em;
}

.ti-download:before {
  content: "";
  opacity: 0.5;
}

.ti-download:after {
  content: "";
  margin-left: -1em;
}

.ti-hockey-stick:before {
  content: "";
}

.ti-input:before {
  content: "";
}

.ti-input:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-painting:before {
  content: "";
}

.ti-painting:after {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-table:before {
  content: "";
  opacity: 0.1;
}

.ti-table:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-arrow-left:before {
  content: "";
}

.ti-arrow-up-right:before {
  content: "";
}

.ti-book:before {
  content: "";
  opacity: 0.33;
}

.ti-book:after {
  content: "";
  margin-left: -1em;
}

.ti-book-p:before {
  content: "";
  opacity: 0.33;
}

.ti-book-p:after {
  content: "";
  margin-left: -1em;
}

.ti-book-q:before {
  content: "";
  opacity: 0.33;
}

.ti-book-q:after {
  content: "";
  margin-left: -1em;
}

.ti-chart-line:before {
  content: "";
  opacity: 0.5;
}

.ti-chart-line:after {
  content: "";
  margin-left: -1em;
}

.ti-checkmark:before {
  content: "";
}

.ti-double-arrow-down:before {
  content: "";
}

.ti-double-arrow-left:before {
  content: "";
}

.ti-double-arrow-right:before {
  content: "";
}

.ti-double-arrow-up:before {
  content: "";
}

.ti-scale:before {
  content: "";
}

.ti-scale:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-sidebar:before {
  content: "";
}

.ti-sidebar:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-todo:before {
  content: "";
}

.ti-user:before {
  content: "";
}

.ti-user-active:before {
  content: "";
}

.ti-user-active:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-user-inactive:before {
  content: "";
}

.ti-user-inactive:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-users:before {
  content: "";
}

.ti-users:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-arrow-down:before {
  content: "";
}

.ti-arrow-down-left:before {
  content: "";
}

.ti-arrow-down-right:before {
  content: "";
}

.ti-arrow-up:before {
  content: "";
}

.ti-arrow-up-left:before {
  content: "";
}

.ti-bucket:before {
  content: "";
}

.ti-bucket:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-dot:before {
  content: "";
}

.ti-dots:before {
  content: "";
}

.ti-farm:before {
  content: "";
}

.ti-farm:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-list:before {
  content: "";
}

.ti-list:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-list-check:before {
  content: "";
}

.ti-list-check:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-moped-license-plate:before {
  content: "";
}

.ti-offer:before {
  content: "";
}

.ti-scale-in:before {
  content: "";
  opacity: 0.5;
}

.ti-scale-in:after {
  content: "";
  margin-left: -1em;
}

.ti-scale-out:before {
  content: "";
  opacity: 0.5;
}

.ti-scale-out:after {
  content: "";
  margin-left: -1em;
}

.ti-arrow-right:before {
  content: "";
}

.ti-at:before {
  content: "";
}

.ti-circle:before {
  content: "";
}

.ti-cross:before {
  content: "";
}

.ti-hashtag:before {
  content: "";
}

.ti-lens:before {
  content: "";
  opacity: 0.5;
}

.ti-lens:after {
  content: "";
  margin-left: -1em;
}

.ti-list-bullet:before {
  content: "";
}

.ti-list-bullet:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-login:before {
  content: "";
  opacity: 0.5;
}

.ti-login:after {
  content: "";
  margin-left: -1em;
}

.ti-logout:before {
  content: "";
  opacity: 0.5;
}

.ti-logout:after {
  content: "";
  margin-left: -1em;
}

.ti-pencil:before {
  content: "";
}

.ti-questionmark:before {
  content: "";
}

.ti-questionmark:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-reply:before {
  content: "";
}

.ti-server:before {
  content: "";
}

.ti-share:before {
  content: "";
  opacity: 0.5;
}

.ti-share:after {
  content: "";
  margin-left: -1em;
}

.ti-tools:before {
  content: "";
}

.ti-trashcan:before {
  content: "";
  opacity: 0.33;
}

.ti-trashcan:after {
  content: "";
  margin-left: -1em;
}

.ti-user-card:before {
  content: "";
  opacity: 0.5;
}

.ti-user-card:after {
  content: "";
  margin-left: -1em;
}

.ti-add:before {
  content: "";
  opacity: 0.5;
}

.ti-add:after {
  content: "";
  margin-left: -1em;
}

.ti-checkmark-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-checkmark-circle:after {
  content: "";
  margin-left: -1em;
}

.ti-checkmarks:before {
  content: "";
}

.ti-checkmarks:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-cross-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-cross-circle:after {
  content: "";
  margin-left: -1em;
}

.ti-gears:before {
  content: "";
}

.ti-gears:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-heart:before {
  content: "";
}

.ti-house:before {
  content: "";
  opacity: 0.5;
}

.ti-house:after {
  content: "";
  margin-left: -1em;
}

.ti-i-circle:before {
  content: "";
}

.ti-i-circle:after {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-save:before {
  content: "";
  opacity: 0.5;
}

.ti-save:after {
  content: "";
  margin-left: -1em;
}

.ti-stars:before {
  content: "";
}

.ti-stars:after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-thunder:before {
  content: "";
}
