@font-face {
  font-family: 'Timos-Icons';
  src: url('fonts/Timos-Icons.eot?is0854');
  src: url('fonts/Timos-Icons.eot?is0854#iefix') format('embedded-opentype'),
    url('fonts/Timos-Icons.ttf?is0854') format('truetype'),
    url('fonts/Timos-Icons.woff?is0854') format('woff'),
    url('fonts/Timos-Icons.svg?is0854#Timos-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Timos-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-save:before {
  content: '\e942';
  opacity: 0.5;
}
.ti-save:after {
  content: '\e943';
  margin-left: -1em;
}
.ti-add:before {
  content: '\e900';
  opacity: 0.5;
}
.ti-add:after {
  content: '\e901';
  margin-left: -1em;
}
.ti-arrow-down:before {
  content: '\e902';
}
.ti-arrow-down-left:before {
  content: '\e903';
}
.ti-arrow-down-right:before {
  content: '\e904';
}
.ti-arrow-left:before {
  content: '\e905';
}
.ti-arrow-right:before {
  content: '\e906';
}
.ti-arrow-up:before {
  content: '\e907';
}
.ti-arrow-up-left:before {
  content: '\e908';
}
.ti-arrow-up-right:before {
  content: '\e909';
}
.ti-at:before {
  content: '\e90a';
}
.ti-book:before {
  content: '\e90b';
  opacity: 0.33;
}
.ti-book:after {
  content: '\e90c';
  margin-left: -1em;
}
.ti-book-p:before {
  content: '\e90d';
  opacity: 0.33;
}
.ti-book-p:after {
  content: '\e90e';
  margin-left: -1em;
}
.ti-book-q:before {
  content: '\e90f';
  opacity: 0.33;
}
.ti-book-q:after {
  content: '\e910';
  margin-left: -1em;
}
.ti-button:before {
  content: '\e911';
  opacity: 0.33;
}
.ti-button:after {
  content: '\e912';
  margin-left: -1em;
}
.ti-card:before {
  content: '\e913';
}
.ti-card:after {
  content: '\e914';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-checkbox:before {
  content: '\e915';
  opacity: 0.5;
}
.ti-checkbox:after {
  content: '\e916';
  margin-left: -1em;
}
.ti-checkmark-circle:before {
  content: '\e917';
  opacity: 0.33;
}
.ti-checkmark-circle:after {
  content: '\e918';
  margin-left: -1em;
}
.ti-checkmarks:before {
  content: '\e919';
}
.ti-checkmarks:after {
  content: '\e91a';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-components:before {
  content: '\e91b';
}
.ti-cross:before {
  content: '\e91c';
}
.ti-cross-circle:before {
  content: '\e91d';
  opacity: 0.33;
}
.ti-cross-circle:after {
  content: '\e91e';
  margin-left: -1em;
}
.ti-divider:before {
  content: '\e91f';
  opacity: 0.5;
}
.ti-divider:after {
  content: '\e920';
  margin-left: -1em;
}
.ti-dots:before {
  content: '\e921';
}
.ti-double-arrow-down:before {
  content: '\e922';
}
.ti-double-arrow-left:before {
  content: '\e923';
}
.ti-double-arrow-right:before {
  content: '\e924';
}
.ti-double-arrow-up:before {
  content: '\e925';
}
.ti-farm:before {
  content: '\e926';
}
.ti-gears:before {
  content: '\e927';
}
.ti-gears:after {
  content: '\e928';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-github:before {
  content: '\e929';
}
.ti-hashtag:before {
  content: '\e92a';
}
.ti-heart:before {
  content: '\e92b';
}
.ti-house:before {
  content: '\e92c';
  opacity: 0.5;
}
.ti-house:after {
  content: '\e92d';
  margin-left: -1em;
}
.ti-i-circle:before {
  content: '\e92e';
}
.ti-i-circle:after {
  content: '\e92f';
  margin-left: -1em;
  opacity: 0.33;
}
.ti-input:before {
  content: '\e930';
}
.ti-input:after {
  content: '\e931';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-lens:before {
  content: '\e932';
  opacity: 0.5;
}
.ti-lens:after {
  content: '\e933';
  margin-left: -1em;
}
.ti-list:before {
  content: '\e934';
}
.ti-list-bullet:before {
  content: '\e935';
}
.ti-list-bullet:after {
  content: '\e936';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-list-check:before {
  content: '\e937';
}
.ti-login:before {
  content: '\e938';
  opacity: 0.5;
}
.ti-login:after {
  content: '\e939';
  margin-left: -1em;
}
.ti-logout:before {
  content: '\e93a';
  opacity: 0.5;
}
.ti-logout:after {
  content: '\e93b';
  margin-left: -1em;
}
.ti-moped-license-plate:before {
  content: '\e93c';
}
.ti-offer:before {
  content: '\e93d';
}
.ti-pencil:before {
  content: '\e93e';
}
.ti-questionmark:before {
  content: '\e93f';
}
.ti-questionmark:after {
  content: '\e940';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-reply:before {
  content: '\e941';
}
.ti-server:before {
  content: '\e945';
}
.ti-share:before {
  content: '\e946';
  opacity: 0.5;
}
.ti-share:after {
  content: '\e947';
  margin-left: -1em;
}
.ti-sidebar:before {
  content: '\e948';
}
.ti-sidebar:after {
  content: '\e949';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-stars:before {
  content: '\e94a';
}
.ti-stars:after {
  content: '\e94b';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-thunder:before {
  content: '\e94c';
}
.ti-todo:before {
  content: '\e94d';
}
.ti-tools:before {
  content: '\e94e';
}
.ti-trashcan:before {
  content: '\e94f';
  opacity: 0.33;
}
.ti-trashcan:after {
  content: '\e950';
  margin-left: -1em;
}
.ti-user:before {
  content: '\e951';
}
.ti-user-active:before {
  content: '\e952';
}
.ti-user-active:after {
  content: '\e953';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-user-card:before {
  content: '\e954';
  opacity: 0.66;
}
.ti-user-card:after {
  content: '\e955';
  margin-left: -1em;
}
.ti-user-inactive:before {
  content: '\e956';
}
.ti-user-inactive:after {
  content: '\e957';
  margin-left: -1em;
  opacity: 0.5;
}
.ti-users:before {
  content: '\e958';
}
.ti-users:after {
  content: '\e959';
  margin-left: -1em;
  opacity: 0.5;
}
