$icomoon-font-family: 'Timos-Icons' !default;
$icomoon-font-path: 'fonts' !default;

$ti-save-path1: '\e942';
$ti-save-path2: '\e943';
$ti-add-path1: '\e900';
$ti-add-path2: '\e901';
$ti-arrow-down: '\e902';
$ti-arrow-down-left: '\e903';
$ti-arrow-down-right: '\e904';
$ti-arrow-left: '\e905';
$ti-arrow-right: '\e906';
$ti-arrow-up: '\e907';
$ti-arrow-up-left: '\e908';
$ti-arrow-up-right: '\e909';
$ti-at: '\e90a';
$ti-book-path1: '\e90b';
$ti-book-path2: '\e90c';
$ti-book-p-path1: '\e90d';
$ti-book-p-path2: '\e90e';
$ti-book-q-path1: '\e90f';
$ti-book-q-path2: '\e910';
$ti-button-path1: '\e911';
$ti-button-path2: '\e912';
$ti-card-path1: '\e913';
$ti-card-path2: '\e914';
$ti-checkbox-path1: '\e915';
$ti-checkbox-path2: '\e916';
$ti-checkmark-circle-path1: '\e917';
$ti-checkmark-circle-path2: '\e918';
$ti-checkmarks-path1: '\e919';
$ti-checkmarks-path2: '\e91a';
$ti-components: '\e91b';
$ti-cross: '\e91c';
$ti-cross-circle-path1: '\e91d';
$ti-cross-circle-path2: '\e91e';
$ti-divider-path1: '\e91f';
$ti-divider-path2: '\e920';
$ti-dots: '\e921';
$ti-double-arrow-down: '\e922';
$ti-double-arrow-left: '\e923';
$ti-double-arrow-right: '\e924';
$ti-double-arrow-up: '\e925';
$ti-farm: '\e926';
$ti-gears-path1: '\e927';
$ti-gears-path2: '\e928';
$ti-github: '\e929';
$ti-hashtag: '\e92a';
$ti-heart: '\e92b';
$ti-house-path1: '\e92c';
$ti-house-path2: '\e92d';
$ti-i-circle-path1: '\e92e';
$ti-i-circle-path2: '\e92f';
$ti-input-path1: '\e930';
$ti-input-path2: '\e931';
$ti-lens-path1: '\e932';
$ti-lens-path2: '\e933';
$ti-list: '\e934';
$ti-list-bullet-path1: '\e935';
$ti-list-bullet-path2: '\e936';
$ti-list-check: '\e937';
$ti-login-path1: '\e938';
$ti-login-path2: '\e939';
$ti-logout-path1: '\e93a';
$ti-logout-path2: '\e93b';
$ti-moped-license-plate: '\e93c';
$ti-offer: '\e93d';
$ti-pencil: '\e93e';
$ti-questionmark-path1: '\e93f';
$ti-questionmark-path2: '\e940';
$ti-reply: '\e941';
$ti-server: '\e945';
$ti-share-path1: '\e946';
$ti-share-path2: '\e947';
$ti-sidebar-path1: '\e948';
$ti-sidebar-path2: '\e949';
$ti-stars-path1: '\e94a';
$ti-stars-path2: '\e94b';
$ti-thunder: '\e94c';
$ti-todo: '\e94d';
$ti-tools: '\e94e';
$ti-trashcan-path1: '\e94f';
$ti-trashcan-path2: '\e950';
$ti-user: '\e951';
$ti-user-active-path1: '\e952';
$ti-user-active-path2: '\e953';
$ti-user-card-path1: '\e954';
$ti-user-card-path2: '\e955';
$ti-user-inactive-path1: '\e956';
$ti-user-inactive-path2: '\e957';
$ti-users-path1: '\e958';
$ti-users-path2: '\e959';
