i.ti {
  position: relative;
  width: 1em;
  height: 1em;
}

[class^="ti ti-"]::before {
  content: "";
  position: absolute;
  background-color: currentColor;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  width: 1em;
  height: 1em;
  left: 0;
}

.ti.ti-dislike::before {
  -webkit-mask-image: url("./svg/dislike.svg");
          mask-image: url("./svg/dislike.svg");
}

.ti.ti-remove::before {
  -webkit-mask-image: url("./svg/remove.svg");
          mask-image: url("./svg/remove.svg");
}

.ti.ti-list::before {
  -webkit-mask-image: url("./svg/list.svg");
          mask-image: url("./svg/list.svg");
}

*:hover > .ti.ti-list::before {
  -webkit-mask-image: url("./svg/list_animated.svg");
          mask-image: url("./svg/list_animated.svg");
}

.ti.ti-feedback::before {
  -webkit-mask-image: url("./svg/feedback.svg");
          mask-image: url("./svg/feedback.svg");
}

.ti.ti-delete::before {
  -webkit-mask-image: url("./svg/delete.svg");
          mask-image: url("./svg/delete.svg");
}

.ti.ti-reply::before {
  -webkit-mask-image: url("./svg/reply.svg");
          mask-image: url("./svg/reply.svg");
}

.ti.ti-share::before {
  -webkit-mask-image: url("./svg/share.svg");
          mask-image: url("./svg/share.svg");
}

*:hover > .ti.ti-share::before {
  -webkit-mask-image: url("./svg/share_animated.svg");
          mask-image: url("./svg/share_animated.svg");
}

.ti.ti-questionmark::before {
  -webkit-mask-image: url("./svg/questionmark.svg");
          mask-image: url("./svg/questionmark.svg");
}

.ti.ti-logout::before {
  -webkit-mask-image: url("./svg/logout.svg");
          mask-image: url("./svg/logout.svg");
}

*:hover > .ti.ti-logout::before {
  -webkit-mask-image: url("./svg/logout_animated.svg");
          mask-image: url("./svg/logout_animated.svg");
}

.ti.ti-login::before {
  -webkit-mask-image: url("./svg/login.svg");
          mask-image: url("./svg/login.svg");
}

*:hover > .ti.ti-login::before {
  -webkit-mask-image: url("./svg/login_animated.svg");
          mask-image: url("./svg/login_animated.svg");
}

.ti.ti-search::before {
  -webkit-mask-image: url("./svg/search.svg");
          mask-image: url("./svg/search.svg");
}

*:hover > .ti.ti-search::before {
  -webkit-mask-image: url("./svg/search_animated.svg");
          mask-image: url("./svg/search_animated.svg");
}

.ti.ti-like::before {
  -webkit-mask-image: url("./svg/like.svg");
          mask-image: url("./svg/like.svg");
}

*:hover > .ti.ti-like::before {
  -webkit-mask-image: url("./svg/like_animated.svg");
          mask-image: url("./svg/like_animated.svg");
}

.ti.ti-save::before {
  -webkit-mask-image: url("./svg/save.svg");
          mask-image: url("./svg/save.svg");
}

.ti.ti-add::before {
  -webkit-mask-image: url("./svg/add.svg");
          mask-image: url("./svg/add.svg");
}

*:hover > .ti.ti-add::before {
  -webkit-mask-image: url("./svg/add_animated.svg");
          mask-image: url("./svg/add_animated.svg");
}

.ti.ti-review::before {
  -webkit-mask-image: url("./svg/review.svg");
          mask-image: url("./svg/review.svg");
}

.ti.ti-home::before {
  -webkit-mask-image: url("./svg/home.svg");
          mask-image: url("./svg/home.svg");
}

.ti.ti-admin::before {
  -webkit-mask-image: url("./svg/admin.svg");
          mask-image: url("./svg/admin.svg");
}

*:hover > .ti.ti-admin::before {
  -webkit-mask-image: url("./svg/admin_animated.svg");
          mask-image: url("./svg/admin_animated.svg");
}

.ti.ti-info::before {
  -webkit-mask-image: url("./svg/info.svg");
          mask-image: url("./svg/info.svg");
}

.ti.ti-error::before {
  -webkit-mask-image: url("./svg/error.svg");
          mask-image: url("./svg/error.svg");
}

.ti.ti-success::before {
  -webkit-mask-image: url("./svg/success.svg");
          mask-image: url("./svg/success.svg");
}

.ti.ti-arrow::before {
  -webkit-mask-image: url("./svg/arrow.svg");
          mask-image: url("./svg/arrow.svg");
}

.ti.ti-user::before {
  -webkit-mask-image: url("./svg/user.svg");
          mask-image: url("./svg/user.svg");
}

.ti.ti-user-active::before {
  -webkit-mask-image: url("./svg/user-active.svg");
          mask-image: url("./svg/user-active.svg");
}

.ti.ti-user-inactive::before {
  -webkit-mask-image: url("./svg/user-inactive.svg");
          mask-image: url("./svg/user-inactive.svg");
}

.ti.ti-users::before {
  -webkit-mask-image: url("./svg/users.svg");
          mask-image: url("./svg/users.svg");
}

.ti.ti-book::before {
  -webkit-mask-image: url("./svg/book.svg");
          mask-image: url("./svg/book.svg");
}

.ti.ti-at::before {
  -webkit-mask-image: url("./svg/at.svg");
          mask-image: url("./svg/at.svg");
}

.ti.ti-facebook::before {
  -webkit-mask-image: url("./svg/facebook.svg");
          mask-image: url("./svg/facebook.svg");
}

.ti.ti-twitter::before {
  -webkit-mask-image: url("./svg/twitter.svg");
          mask-image: url("./svg/twitter.svg");
}

.ti.ti-instagram::before {
  -webkit-mask-image: url("./svg/instagram.svg");
          mask-image: url("./svg/instagram.svg");
}

.ti.ti-youtube::before {
  -webkit-mask-image: url("./svg/youtube.svg");
          mask-image: url("./svg/youtube.svg");
}

.ti.ti-telegram::before {
  -webkit-mask-image: url("./svg/telegram.svg");
          mask-image: url("./svg/telegram.svg");
}

.ti.ti-apple::before {
  -webkit-mask-image: url("./svg/apple.svg");
          mask-image: url("./svg/apple.svg");
}

.ti.ti-google::before {
  -webkit-mask-image: url("./svg/google.svg");
          mask-image: url("./svg/google.svg");
}

.ti.ti-github::before {
  -webkit-mask-image: url("./svg/github.svg");
          mask-image: url("./svg/github.svg");
}
/*# sourceMappingURL=style.css.map */